{{- if .identities.work.enabled -}}
# Work Git Identity
# Included via gitdir conditional in ~/.gitconfig

[user]
    name = {{ .identities.work.name }}
    email = {{ .identities.work.email }}
{{- end -}}
